{% load custom_tags %}
{% get_username as username %}



<div class="bg-light p-3 rounded mb-3">
    <h5 class="lead mb-3">
        Welcome, {% if username %} {{username}} {% endif %}
    </h5>
    <ul>
        <li class="my-2">
            <a href="{% url 'dashboard' %}">Profile</a>
        </li>
        <li  class="my-2">
            <a href="{% url 'address' %}">Address</a>
        </li>
        <li  class="my-2">
            <a class="{% if active %} {% endif %}" href="#">Orders</a>
        </li>
        <li  class="my-2">
            <a href="{% url 'password_change' %}">Change password</a>
        </li>
    </ul>
</div>