{% extends 'core/base.html' %}

{% block title %} address {% endblock title %}

{% block main %}

<div class="row">
  <div class="col-md-4">
      {% include 'customer/components/sidebar.html' %}
  </div>

  <div class="col-md-8">
      <h3 class="mb-3">Add shipping address</h3>
      <form method="post" novalidate>
          {% csrf_token %}
          {% include 'account/components/form.html' %}
          <input type="submit" value="Save address" class="btn btn-primary">
      </form>
  </div>
  
</div>

{% endblock main %}
