{% extends 'core/base.html' %}

{% block title %} dashboard {% endblock title %}

{% block main %}

{% if messages %}
    {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
    {% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-4">
    {% include 'customer/components/sidebar.html' %}
  </div>
  <div class="col-md-8 mb-3">
      <div class="row">
          {% for address in user_address %}
              <div class="col-md-6">
                  <div class="card mb-3">
                      <div class="card-body">
                          <h3>Address {{forloop.counter}}</h3>
                          <p>Name: {{address.customer_name}}</p>
                          <p>Land mark (street): {{address.locality}}</p>
                          <p>City: {{address.city}}</p>
                          <p>State: {{address.state}}</p>
                          <p>Pin Code: {{address.zipcode}}</p>
                      </div>
                  </div>
              </div>
          {% empty %}
              <p>No address found <a href="{% url 'address' %}">add shipping address</a></p>
          {% endfor %}
        </div>
  </div>
  
</div>

{% endblock main %}

