<div class="bg-light p-3 rounded mb-3">
    <h5 class="lead mb-3">
        Welcome, {{ request.user.name }}
    </h5>
    <ul>
        <li class="my-2">
            <a href="{% url 'customer_dashboard' %}">Dashboard</a>
        </li>
        <li  class="my-2">
            <a class="{% if active %} {% endif %}" href="#">Orders</a>
        </li>
        <li  class="my-2">
            <a href="{% url 'password_change' %}">Change password</a>
        </li>
        <li  class="my-2">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0">Logout</button>
            </form>
        </li>
    </ul>
</div>