<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}"> -->

    <!-- js  -->
    <!-- <script src="{% static 'core/js/bootstrap.min.js' %}" defer></script> -->

    <title>{% block title %} {% endblock title %} - e-commerce</title>
</head>
<body>

    {% include 'core/components/navbar.html' %}
    
    {% block main %} {% endblock main %}
</body>
</html>