{% extends 'core/base.html' %}

{% block title %} dashboard {% endblock title %}

{% block main %}

{% if messages %}
    {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
    {% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-4">
    {% include 'account/components/profile_sidebar.html' %}
  </div>
  <div class="col-md-8 mb-3">
      <h3 class="mb-3">Add shipping address</h3>
      <form method="post" novalidate>
          {% csrf_token %}
          {% include 'account/components/form.html' %}
          <input type="submit" value="Save address" class="btn btn-primary">
      </form>
  </div>
  
</div>

{% endblock main %}

